.home-page-container {
    width: 100%;
    height: 100%;

    .daily-container {
        .location {
            margin-top: 30px;
            color: #fc8345;
            margin-left: 6%;

            .typing-container{
                margin-left: 30%;
            }
            .typing-container p {
                position: absolute;
                font-size: 1.2em;
            }
            .typing-container h1 {
                margin-top: 27px;
            }

        }
    }
}

@media screen and (min-width: 1020px) {

    .home-page-container {
    
        .daily-container {
            .location {
                .typing-container{
                    margin-left: 42%;
                }
            }
        }

      
          
    }
}
