.home-page-container{
    width: 100%;
    height: 100%;


    .daily-container{
        .location{
            margin-top: 30px;
            color: #fc8345;
            margin-left: 6%;
        }
    }
}