.search-container{
    display: flex;
    margin-left: 12%;
    margin-top: em(18px);

    .input-search{
        border: 0;
        border-radius: em(500px);
        height: em(40px);
        padding: em(6px) em(48px);
        text-overflow: ellipsis;
        width: 80%;
        font-size: 0.875rem;
        line-height: 1rem;
        text-transform: none;
        letter-spacing: normal;
        margin-right: em(10px);
    }

    .options-container{
        background-color: $clr3;
        margin-top: em(2px);
        color: $clr1;
        cursor: pointer;

    }


}



// DESKTOP-MODE
@media screen and (min-width: 1020px) {

    .search-container{
        margin-left: 38.5%;
        margin-top: em(-10px);
    
        .input-search{
            margin-right: em(10px);
        }
    

    
    
    }




}