.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-align: center;
    background-color: rgb(49 62 76 / 68%);
    color: $clr2;
    border-radius: 0.5rem;
    padding: 1rem;

    .weather-card :hover {
        background-color: $clr5;
    }

    .img-div {
        height: 74px;
        margin-bottom: 18px;
        width: 58px;
    }

    .clean-link {
        text-decoration: none;
        color: inherit;
    }
}
