* {
  box-sizing: border-box;

}


html {
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  color: #1a1a1a;;
  background-image: url('https://wallpaperaccess.com/full/1540007.jpg');
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: rem(14px);
  min-height: 100vh;
}


main {
  display: flex;
  flex-grow: 1;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0%;
  margin-right: 0%;
}

img {
  width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 auto;
}

button {
  all: unset;
  cursor: pointer;
  padding: 10px;
}

input,
textarea {
  font-size: 14px;
  outline: none;
  border: none;
  resize: none;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

//loader
.loader{
  top:50%;
  left:50%;
  position: fixed;
}

// appear-on page

.fade-appear{
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active{
  opacity: 1;
  transition: opacity 2000ms linear;
}

@media screen and (min-width: 1020px){
  main {
    display: flex;
    flex-grow: 1;
    padding-left: 84px;
    padding-right: 84px;
    margin-left: 10%;
    margin-right: 13%;
  }
}