// Colors
$clr1: #fc8345;
$clr2: rgb(116 118 119 / 41%);
$clr3: whitesmoke;
$clr4: #95adbe;
$clr5: rgba(245, 245, 245, 0.747);
$clr6: #fff;


// LAYOUT
$layoutPadding: 20px;

// Breakpoints
$break-narrow: 460px;
$break-normal: 720px;
$break-wide: 960px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
